/* MovieList.css */
.movie-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 20px;
    background-color: #141414;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button-div {
    display: grid;
}

.movie-top {
    display: flex;
    gap: 20%;
    /* grid-template-columns: 1fr 11fr; */
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.movie-top h2 {
    /* margin-bottom: 20px; */
    font-size: 2em;
    text-align: center;
}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-item img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.movie-item p {
    font-size: 1.2em;
    text-align: center;
}

.movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #f40612;
}

.skeleton-movie-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skeleton-image {
    width: 120px;
    height: 180px;
    background-color: #ccc;
    margin-right: 20px;
}

.skeleton-title {
    width: 200px;
    height: 20px;
    background-color: #f0f0f0;
}



@media (max-width: 1080px) {
    .movie-container {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 550px) {
    .movie-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .button-div {
        display: flex;
        gap: 20px;
    }

    .movie-top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}